<a href="https://colab.research.google.com/github/Vinay-Kumar03/Python-notes-/blob/main/Vinay_Python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MODULE 1

In [ ]:
"""what is python?
emerging general-purpose programming language
high-level programming language
object oriented programming language-->OOP’s
Dynamically typed programming language
interpreted programming language"""

In [ ]:
"""what is an emerging general-purpose programming language?
1.The main purpose of python programming language is  to handle tons of data, & AI development
2.also we can web development, mobile application development
3.apart from above usage we can use it for daily general works
    for ex:- ISRO scientist use python language for physics calculation
                    for Tracking stocks
                     image processing """

Numerical Dtypes in Python

In [ ]:
#there are 3 types of numerical dtypes
#1.integer---> int
#a whole number either +ve or -ve without decimal point is known integer
print(10)
print(5)
print(-5)
#find the dtype for above
#use "type()"
print(type(10))
print(type(-5))

In [ ]:
#flaot:- a whole number either +ve or -ve with decimal point is known float
print(10.5)
print(5.5)
print(-6.5)
print(type(10.5))
print(type(-6.5))

In [ ]:
#0-->int
#0.0-->float
#2.0-->float
#.9--> float
#-0--->float

In [ ]:
#3.complex numnbers:- ---> complex
#a real number withits imaginary part is known as complex number
# 3x+4y = 6        ---->  2 + 4j
#what is "j"?
# j is known as "iota" the value of iota is root -1
print(2 + 5j)
print(type(2+5j))
print(5j)
print(type(5j))

Arthmetic operators

In [ ]:
#There are 7 types of arthametic operators
#1.addition---> +
print(10 + 5)
#2.substraction---> -
print(10 - 5)
#3.multiplication---> *
print(10 * 5)
#4.division---> /
print(10 / 5)
print(type(10 / 5))
#why the default dtype for division is float?
"""somnetimes in division operation we may get decimal values in co-efficient to
avoid this confusion by default the dtype

In [ ]:
#5. Modulus---> %---> remainder of the division
print(10 % 5)
print(type(10 % 5))

In [ ]:
#6. exponential--> ** --> to the power off
print(2 ** 3)
print(type(2**3))
print(1**5)
print(3 ** 2)

In [ ]:
#floor division:----> //
#it ignores the values after the decimal point
print(10 / 3)
print(10 // 3)

In [ ]:
#what is a floor value?
#The vale before the decimal point is known as "floor value"
#what is a ceil value?
#the next upcoimng value or nearest value to the decimal number is known as ceil value
#Note:- if the decimal number is equal to >.5 or

round()

In [ ]:
#987.542312
print(round(6.45))
#NOte:- if the decimal value is <.5 then

In [ ]:
#i want to print 1st 2 ndigits from below number
#round(number,ndigits)
print(round(987.542312,2))
print(round(987.542312,3))

In [ ]:
print(round(789.645749,4))   #65, #6

In [ ]:
print(round(12355.98765,-5))
#when you use the -1 ndigit it ignores

In [ ]:
print(round(-12567.987, -3)) #-13000
print(round(-089.987,-1))
-090
-90
-9
error

In [ ]:
print(round(67435.7854,-5))

Variables

In [ ]:
#what is varaibles?
#varaible is a container where we can store our value data or information and reuse it
#how can we create a varaible?
"""let the father age is x and
son age is half of father age
find the son age x/2"""
#How can we access the information from the varaible?
#by using print() we can display data storing the varaible
#take two varaibles and apply all the arthamatic operations?
a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(b/a)
print(b%a)
print(b**a)
print(b//a)

06-07-2024

Types of erros

industrial rules followed to create a varaible

smart ways of writing varaibles

input()

In [ ]:
#Types of erros
#1. Syntax error:- Breaking the rules of programming language can rise an syntax error
""" hi
      i am writing a multiline comment """

In [ ]:
#2.Logical error:- except syntax error all the errors comes under logical error
#indentation error, attribute error, Name

industrial rules followed to create a varaible

In [ ]:
1.start creating the varibles by using alphabets
a = "hello wolrd!"
print(a)
print(type(a))

In [ ]:
#2. dont start creating the varible by using the numbers
4 = "hello"
print(4)

In [ ]:
#3.if you follow rule 1 and 2 u can start creating varaible by alphabets inbetween you can use number
son2age = 20
print(son2age)

In [ ]:
#4.we cannot use special characters in the varaibles
# @$%^&*-
son@age = 40
print(son@age)

In [ ]:
#5.we cannot use space in between varaibles
a b = 10 20
print(a b)

In [ ]:
#6. we can use _ as a varaible
son_age = 20
print(son_age)
_ = "hello"
print(_)

smart ways of wrirng a varaible

In [ ]:
#1.assign multiple values to multiple varaibles and print it in a seprate line
#for ex:- take 3 varaibles x,y,z
x = 10
y = 20
z = 30
print(x)
print(y)
print(z)

In [ ]:
x,y,z = 10,20,30
#use the "sep" keyword to print output in separate lines
print(x,y,z,sep="\n")

In [ ]:
#assign a single value to the multiple varaibles and print in separate line
#take 3 varaibles x,y,z and assign same values to it
x = 10
y = 10
z = 10
print(x,y,z,sep="\n")

In [ ]:
x=y=z= 10
print(x,y,z,sep="\n")

In [ ]:
#prove that python is an dynamically typed prgramming language?
#  str[a]  = "hello world!" , int(a) = 10--->statically typed programming language
# a = "hello wolrd", a = 10
#the python varaible can read the data automatically by itself
s = "hello world!"
print(s)
print(type(s))
h = 10
print(type(h))

In [ ]:
#python is an interpreted programming language?
#python can execute the code line by line
a = 10
b = 5
a = 2
b = 3
print(a*b)

In [ ]:
#python is an case sensitive programming language?
h = "hello"
print(H)

input()

In [ ]:
#what is an input()?
#it intakes any kind of information or data and reuse it
a = input("enter your name: ")
print(a)
print(type(a))
#the default data type for input() is string

In [ ]:
#why the default data type for inpuit function is string?
#The function has to be in such a way

In [ ]:
a = int(input("enter the number: "))
b = int(input("enter the number: "))
print(a+b)

In [ ]:
#what is concatenation?
print("hello"+ "team")
#adding 2 strings or 2 input() without

In [ ]:
a = int(input("enetr the number: "))
b = int(input("enter the number: "))
print(a+b)
#Note:-  when we are dealing with integer

In [ ]:
#take 2 decimal input() apply all the arthametic operations?
a = float(input("eneter the decimal: "))
b = float(input("enter decimal number: "))

Strings

In [ ]:
#what is strings?
#string is a collection of multiple characters written inside the quotes
#How can we declare a string?
#we decalre strings in " " or ' '

In [ ]:
#How many types of strings are there?
#two types
#single line string---> " " or ' '
#multiline string---> """ """double triple

In [ ]:
#print hello world program
print("hello world!")

hello world!

In [ ]:
#string is a collection of multiple characters where each character can be accessible
#string is ordered means characters in the string has sequence of index position numbers
#How can we access the characeters from the string?
#we can access by using "indexing" and

In [ ]:
a = "Hello World!"
#from the above string print the "e" ?
#[start_index_number]
# print(a[1])
#print "r" from the above string?
# print(a[8])
#print the "hello world!" in separate line without using loops?
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])

In [ ]:
#access a range of characters [start:end_index_number]
s = "hello world!"
#llo wo
print(s[2:7]) #end index can be n+1
#why the 7th charcter is not printed?
#because slicing can be stop  before the end index position number
print(s[2:8])
#from the above print the entire "hello"
print(s[0:5])

In [ ]:
h = "Hello World!"
#from above string print the even index of the data
#[start:end:step]
print(h[0:12:2])
#print the odd index charcters from abover string
print(h[1:12:2])

In [ ]:
a = """Data is a collection of facts, numbers, words, observations, or other useful information
that can be used for calculation, reasoning, or planning."""
#howmany character in above string
#use len() given total number characters in string
#length start from 1
print(len(a))
#find end index_number of the above string
print(len(a)-1)
print(a[146])

Negative indexing:- where we can access the items in reverse direction

-->-ve indexing starts from -1

In [ ]:
h = "Hello Good afterNoon"
#[start]
print(h[-1])

In [ ]:
#can we print range of characters in reverse direction?
#No
print(h[-1:-7])
#By default slicing direction is from left to right
#if you want to go in reverse direction in step we need to mention -1
print(h[-1:-7:-1])

In [ ]:
u = "hello"
#reverse the above string
print(u[-1:-6:-1])

In [ ]:
l = "madam"
print(l[-1:-6:-1])
print(l[:])
print(l[::])
print(l[::2])
print(l[::-1])

In [ ]:
st='Happy Christmas and Happy new year'

if (st.startswith("Happy”)):

    x=st.rsplit(“Happy”)

print(len(x))

In [ ]:
 st = 'Happy Christmas and Happy new year'

if st.startswith("Happy"):
    x = st.rsplit("Happy")  # Split by "Happy"

print(len(x))detected at line 1)

In [ ]:
s = "OpenAI"
print(s[1:6][-1::-2])

Inp

09-11-2024

In [ ]:
#revision
#indexing:- positional number of chartacters
#string:- is ordered sequence positional number of chartacters
#len():- counts the no of characters in the string
#print th even characters from a string?   [start(0):end:step(2)]
#print the odd characters from string?

In [ ]:
#Negative indexing:-  we can access the string in reverse direction.
# neagtive indexing starts from -1
#what is the default slicing direction?
#slicing can be done from lft to right dirction
s = "Hello world!"
print(s[-1:-7])
print(s[-7:-1])

In [ ]:
#How can i print the string in reverse direction (or) how can i access the string by using negative indexing?
#if you want to access string in reverse direction we need to give step value as "-1"
print(s[-1:-13:-1])

In [ ]:
#How can we make slicing very easy without giving the indexing?
h = "Data science is the scientific study of data to gain knowledge and make informed decisions"
print(h[:])
#default indexing[startposition[0]:end[len(str)]:step[1]]
print(h[::]) #value error: slice step cannot be zero
#print th even index characters from above string?
print(h[::2])
#odd charcters
print(h[1::2])

In [ ]:
a = "hello"
#reverse above string
print(a[::-1])

In [ ]:
#check weather the string is palidrome or not?
#madam,  malayalam, markram, mom, dad, hyderabad, karnatak,chennai
i = input("enter the name: ")
print(i[::-1])

String

In [ ]:
#string methods:- the methods that are applying on the string is known as string methods
#what are all methods i can apply on the below string?
#by using "dir()" we can find out all the methods that are applicable on string
a = "hello world!"
print(dir(a))

In [ ]:
"""'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith',
 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum',
 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier',
  'islower','isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper',
   'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
    'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition',
'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip',
 'swapcase', 'title', 'translate', 'upper', '

In [ ]:
a = "hello world!"
#convert the above string in to upper case?
print(a.upper())
print(a.lower())
print(a.capitalize()) #it converts 1st letter into capital
print(a.title())#it convert the 1st letter

HELLO WORLD!
hello world!
Hello world!
Hello World!

In [ ]:
#i want to delete unwanted space from the string
k = "   hello world!   "
#strip()
print(k.strip())
#left side space
print(k.lstrip())
#right side space
print(k.rstrip())

In [ ]:
#replace the "world" with univers in below string
#replace('old','new_str)
s = "hello world!"
print(s.replace("world","universe"))

In [ ]:
h = "hi team! good afternoon"
#above string replace "afternoon" with "evening"
print(h.find('z'))
print(h.index('z'))
#what is difference between index and find()?
#in find() if the index charactr is not present it prints -1
#where in index() if the character is not

-1

ValueError: substring not found

In [ ]:
#what is "swapcase()"?
#what is zfill?

String Format methods

In [ ]:
age = 10
txt = f"my age is {age} years old."
print(txt)

In [ ]:
item_name = input("eneter the product name: ")
quantity = float(input("enter the quantity: "))
price_each = float(input("eneter the price: "))
notification = f"your order for {item_name} has been confirmed with an quantity of {quantity} and Total price {price_each*quantity}/-"
print(notification)

In [ ]:
#what is escape characters?
u = "Dwayne \"The Rock\" Johonson"
#print the above string with quotes
print(u)
#escape characters used to print the illegal

In [ ]:
l = "hello team! \"good day\", hope everyon is practing \"string\" is important"
print(l)

In [ ]:
a = 10
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
"""'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith',
 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum',
 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier',
  'islower','isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper',
   'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
    'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition',
'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip',
 'swapcase', 'title', 'translate', 'upper', 'zfill' """

In [ ]:
a = "hello world!"
#convert the above string in to upper case?
print(a.upper())
print(a.lower())
print(a.capitalize()) #it converts 1st letter into capital
print(a.title())#it convert the 1st letter into capital after each and every space

In [ ]:
#i want to delete unwanted space from the string
k = "   hello world!   "
#strip()
print(k.strip())
#left side space
print(k.lstrip())
#right side space
print(k.rstrip())

In [ ]:
#replace the "world" with univers in below string
#replace('old','new_str)
s = "hello world!"
print(s.replace("world","universe"))

In [ ]:
h = "hi team! good afternoon"
#above string replace "afternoon" with "evening"
print(h.find('z'))
print(h.index('z'))
#what is difference between index and find()?
#in find() if the index charactr is not present it prints -1
#where in index() if the character is not present it rises value "error"

In [ ]:
#what is "swapcase()"?
#what is zfill?

In [ ]:
age = 10
txt = f"my age is {age} years old."
print(txt)

In [ ]:
item_name = input("eneter the product name: ")
quantity = float(input("enter the quantity: "))
price_each = float(input("eneter the price: "))
notification = f"your order for {item_name} has been confirmed with an quantity of {quantity} and Total price {price_each*quantity}/-"
print(notification)

In [ ]:
#what is escape characters?
u = "Dwayne \"The Rock\" Johonson"
#print the above string with quotes
print(u)
#escape characters used to print the illegal characters(" ") or (' ') use backward slash(\) in front of the characters

In [ ]:
l = "hello team! \"good day\", hope everyon is practing \"string\" is important"
print(l)

In [ ]:
a = 10
print(dir(a))

In [ ]:
#what is string?
#how can we create or declare a string?
#How many types of strings are their?
#How we can access the characters in string?
   #1.indexing    2. slicing operator--->[]
#what is len()? #returns the count of items
#what is -ve indexing?
#what default indexing? [start:end:step]
#what is string methods?
#how can we find what are methods applicable on string?
# "dir()""
#tell me a 10 string ,ethods?
#upper, lower, strip, lstrip, rstrip, capitalize, title, find,index, replace,swapcase,zfill
#what is string format method?
#it takes an argument and replace or fill it over the place holder{}
#What is escape characters?
#it used to print illegal characters

# Conditinal statements

In [ ]:
#decision making program can be done with the help of conditional statements
#How can you check the condition and how can you make decision?
#decision making or conditional check can be done based on "comaprision operators"
#what is comaprision operators? #operators where we can check certain conditions that are satisfied or notsatisfied
#this is also known as "relational operators"
#There are 6 comparision or relational operators
#1.Equal to----> ==
#2. Not equal to ---> !=
#3. greater than --->   >
#4. less than ----->   <
#5. greater than equal to ----> >=
#6. less than equal too --->   <=

In [ ]:
#what are all conditionL satetment do we have in python?
#if----> elif----> else

In [ ]:
#write a program to check that student is pass or fail based recived marks and print marks
marks = int(input("eneter the marks: "))
passing = 45
if marks >= passing:
  print(f"congratulations, you have receive {marks} marks")
else:
  print(f"Better luck next time,you have received {marks} marks")

In [ ]:
#if you are having more than 2 conditons then
#we can use "elif"
#write program to check either the given is +ve or -ve if it is 0 means print "neutral"
num = int(input("eneter the number: "))
if num > 0:
  print("+ve")
elif num == 0:
  print("neutral")
else:
  print("-ve")

In [ ]:
#mom,malayalam
a=input("Enter the string:")
b=a[::-1]
if a.lower()==b.lower():
  print("it is a palindrome:",a)
else:
  print("it is not a palindrome:",a)

Enter the string:mom
its is a palindrome: mom

# Logical operators

In [ ]:
#Logical operator
# 1. AND : operator executes the program when all the conditions are true
a=45
b=65
c=55
#wap to check a is a>b,c
              #c<b?
if a>b and a>c and c<b:
  print("all conditions satisfied")
else:
  print("not satisfied")

not satisfied

In [ ]:
# 2. OR operator:Excutes the program if any one condition is satisfied
#check the below values have met with any one condition then execute the program
a=18
b=45
#
x=20
z=60
y=35
if x > a or x > 45 or y > a or y < b or z > a or z < b:
  print("Condition satisfies")
else:
  print("Condition not satisfied")

Condition satisfies

In [ ]:
a=50
b=20
c=30
d=60
if a > b or c > b or d < a:
  print("Condition satisfied")
else:
  print("Condition not satisfied")

Condition satisfied

In [ ]:
#Not operator : it reverse the actual output
print(1==1)
print(not(1==1))

True
False

# Nested conditions

In [ ]:
#If you want to check a series or range  of conditions and you to print series of outputs
a = 25
if a > 10:
  print("a is greater than 10")
  if a>20:
    print("a is greater than 20")
    if a>30:
      print("a is greater than 30")
      if a>40:
        print("a is greater than 40")
        if a>50:
          print("a is greater than 50")
        else:
          print("a is less than 50")
      else:
        print("a is less than 40")
    else:
      print("a is less than 30")
  else:
    print("a is less than 20")
else:
  print("a is less than 10")

a is greater than 10
a is greater than 20
a is less than 30

In [ ]:
#writing condition inside the another condition is knownas Nested conditions means writing if condition inside another if condition

In [ ]:
marks=int(input("Enter the marks:"))
if marks>91:
  print(f"Congrats you have received \"A+\" along with {marks} marks")
elif marks>81:
    print(f"Congrats you have received \"A\" along with {marks} marks")
elif marks>71:
  print(f"congratulation you have received \"B\" Grade along with {marks}marks")
elif marks>61:
  print(f"congratulation you have received \"c\" Grade along with {marks}marks")
elif marks>40:
  print(f"congratulation you have received \"D\" Grade along with {marks}marks")
else:
  print("you failed in exams")

Enter the marks:75
congratulation you have received "B" Grade along with 75marks

In [ ]:
#tw0 condition--> if & else
#more than 2 conditions----> if elif else
#multiple conditions at a time --> lodical operators(and, or , not)
#if you series of output = nested if condition

In [ ]:
a = 50
b = 20
c = 30
d = 60
if a>b or c > b or d < a:
  pass

#pass is a null place holder when you execute pass then nothing will happens

In [ ]:
if :
  print
  if:
    print
   else:
    print
else:
  print

# **Loops**

In [ ]:
#what is loops?
#loops are set of instructions
#What is the purpose of loops?
#It is used to  avoid dupliacate codes
#How many types of codes?
#There are 2 types
#1.Wet code :- Writing Everythinng Twice   (Low level language)
#2.Dry code :- Don't repeat yourself       (High level language)
#how many types of loops?
#1. For loop
#2. While loop

# **While loop**

In [ ]:
#what is while loop?
#is is a set of instructions which will run untill the condition remains True
target = 5
initial= 1
while initial <= 5:
  print("Go up ")
  print("godown")
  print("===rep  is completed===")
  initial = initial+1

In [ ]:
#wap to run a lift if the user is giving 4th stop the lift at 4th floor
a=int(input("Enter the floor number :"))
intial = 1
while intial<=a:
  print(f"You have reached {intial} floor")
  intial = intial+1

In [ ]:
a=int(input("Enter the floor number :"))
intial = 0
while intial<=a:
  print(f"You have reached {intial} floor")
  intial = intial+1

In [ ]:
a=int(input("Enter the floor number :"))
intial = 0
dontstop = int(input("Enter the floor number"))
while intial<a:
  intial = intial+1
  if intial == dontstop:
    continue
  print(f"You have reached {intial} floor")

## **For Loop**
Definition : it runs for a set of instructions or set of rules over each and every element in the collection

In [ ]:
a=[1,2,3,4,5,6]
for i in a:
  print(i*2,end=" ' ")

2 ' 4 ' 6 ' 8 ' 10 ' 12 '

In [ ]:

user=(int(input("Enter the floor number:")))
intial=0
while intial < user:
  intial= intial+1
  print("you are at",intial)

In [ ]:
#note - BREAK  : it terminates the loop irrespective of data or items
#using the break statement in while loop use the logic or count after the break statement

user=(int(input("Enter the floor number:")))
intial=0
exit = int(input("Enter the floor"))
while intial < user:
  if intial == exit:
    break
  intial= intial+1
  print("you are at",intial)

Enter the floor number:6
Enter the floor4
you are at 1
you are at 2
you are at 3
you are at 4

In [ ]:
#similarly i dont want to stop  the lift  at 2nd floor
# use CONTINUE to skip the current iteration
#when your using the continue keyword in the while loop use the logic before the continue

6

In [ ]:
user = int(input("enter floor num: "))
intial = 0
exit = int(input("enter the floor"))
while intial < user:
  if intial == exit:
    break
  intial = intial + 1
  print("you are at:", intial)

enter floor num: 6
enter the floor5
you are at: 1
you are at: 2
you are at: 3
you are at: 4
you are at: 5

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
for i in a:
  print(i*2 , end=" ")
  # i is known as iterator and the process of going through each and every element in the colection item

2 4 6 8 10 12 14 16 18

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10,23,34,5,6,74,3,5,4]
for i in a:
  if i==10:
    break
    # can we do the multiple break statements -- NO we cant do
  print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10,23,34,5,6,74,3,5,4]
for i in a:
  if i==10 or i==23 or i==5:
    continue
  print(i,end=" ")
  #can we skip multiple iterations or numbers in dataset -- yes, by using "or"

1 2 3 4 6 7 8 9 34 6 74 3 4

# Collections
In the collections the data can be stored in 2 types:
1 .  Heterogenous Data : if the collection is having multiple Dtypes (int,float,str,etc)inside it is known as Heterogenous data
2 . Homogenous Data : if the collection has single dtype either int or float or string is known as Homogeneous data
There are four types of collections :\
1 . List
2 . Tuple
3 . set
4 . Dictionary

# **LIST**

In [ ]:
#what is List?
#list is ordered,mutable,allows the duplicate data
#how can we create a list or declare a list
#list can be declared by using [] each element in llist is separated by [,]

In [ ]:
#list allows duplicate data
l1=["apple","banana","orange","custardapple","apple","banana"]
print(len(l1))
print(type(l1))
print(l1)

6
<class 'list'>
['apple', 'banana', 'orange', 'custardapple', 'apple', 'banana']

List ir ordered

In [ ]:
#ordered means items in the list having a sequence of index position numbers
#from the above list print ('pineapple')
#print the range of iitem from apple to orange
print(l1[0:3])
print(l1[2])
print(l1[0:4])

['apple', 'banana', 'orange']
orange
['apple', 'banana', 'orange', 'custardapple']

In [ ]:
print(l1[::2])

['apple', 'orange', 'apple']

In [ ]:
l1=["apple","banana","orange","custardapple","apple","banana"]
#reverse
print(l1[::-1])
print(l1)
l1.append("cherry")
print(l1)
l1.pop()
print(l1)

['banana', 'apple', 'custardapple', 'orange', 'banana', 'apple']
['apple', 'banana', 'orange', 'custardapple', 'apple', 'banana']
['apple', 'banana', 'orange', 'custardapple', 'apple', 'banana', 'cherry']
['apple', 'banana', 'orange', 'custardapple', 'apple', 'banana']

In [ ]:
#by using this index position  number we are accessing the each index position number

List is mutable

1. swap or replace the data in existing list
2. Add new items to the list
3. remove the items from the list

In [ ]:
#how can we  swap or replace items from the list
#by using the inde position number
l1=["apple","banana","orange","custardapple","apple","banana"]
l1[4]= "kiwi"
print(l1)
#multiple items can change
l1[4:]="grapes",'lemon'
print(l1)

['apple', 'banana', 'orange', 'custardapple', 'kiwi', 'banana']
['apple', 'banana', 'orange', 'custardapple', 'grapes', 'lemon']

In [ ]:
l1[2:4]='mango','watermelon','laddu'
l1

['apple', 'banana', 'mango', 'watermelon', 'laddu', 'laddu', 'grapes', 'lemon']

In [ ]:
l2=['apple', 'banana', 'mango', 'watermelon', 'laddu', 'laddu', 'grapes', 'lemon']
l2[2:4]="lemon","watermelon","mango","muskmelon"
l2

['apple',
 'banana',
 'lemon',
 'watermelon',
 'mango',
 'muskmelon',
 'laddu',
 'laddu',
 'grapes',
 'lemon']

In [ ]:
#note : can we change the range of items in a list --> yes, we can change
"""l[start_index:end_index]but this ia a bad practice
if we give more than the index range items it changes or replace
the items with existing index items so the index positions of characters can be changed"""

16-11-2024

In [ ]:
l2=['apple', 'banana', 'mango', 'watermelon']
print(dir(l2)) #dir()is used to return method that are applicable on particular Object
l2.append("cherry")
#append() :- by default it adds the items at the end or last of the list
#what is the default index position when you use the append()?
#we cannot add more than one item by using append method()
l2

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

['apple', 'banana', 'mango', 'watermelon', 'cherry']

In [ ]:
"""'__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__',
'__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__',
'__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__',
 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']"""

In [ ]:
#how to add a item at particular index position?
#insert(index,"item_name")
l2=['apple', 'banana', 'mango', 'watermelon']
l2.insert(2,"melon")
print(l2)
#can we insert multiple items at a time --> NO we can't because insert takes only 2 arguments

['apple', 'banana', 'melon', 'mango', 'watermelon']

In [ ]:
#Extend(collection name):- add multiple items in to the list
#by default extend method add items at the end of the list
l3=[1,2,3,4]
l4=[5,6,7]
l3.extend(l4)
print(l3)
l3.insert(0,"berries")
l3

[1, 2, 3, 4, 5, 6, 7]

['berries', 1, 2, 3, 4, 5, 6, 7]

POP()

 Remove items from the list
 by default it removes last element from the list
 pop(index_position)

In [ ]:
p=[1, 2, 3, 4, 5, 6, 7]
p.pop()
p

[1, 2, 3, 4, 5, 6]

In [ ]:
#remove(item_name)
p.remove(3)#it takes exactly one argument(0 given)
p

[1, 2, 4, 5, 6]

In [ ]:
#how can remove the multiple items from the list?
#use "del collection_name[start_index:end_index]"
l8=['apple', 'banana', 'mango', 'watermelon']
del l8[1:4]
l8

In [ ]:
#how to clear entire data from l8
l8.clear()
l8

In [ ]:
del l8
l8

In [ ]:
l9=[1,2,3,4,5,6,7,8,9,10]
del l9[::2]#EVEN
del l9[1::2]#ODD

#Tuples

In [ ]:
#what is tuple?
#how can u define a tuple?
#tuples can be declared in() each element in tuple in separated by(,)
#tuple is defined as --> ordered,immutable,allows duplicates

In [ ]:
#Tuple allows duplicates
t1 = ('kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes','kiwi','apple')
print(len(t1))
print(type(t1))

8
<class 'tuple'>

In [ ]:
#Tuple is ordered
#ordered means each element in the tuple is having sequence of index position numbers
print(t1[2])
print(t1[-1])
print(t1[2:6])
print(t1[::2])
print(t1[1::2])
print(t1[::-1])

Tuple is immutable --> we cannot replace,add,remove the items from the tuple

In [ ]:
print(dir(t1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

# SET
set is declared in {} and elements in the set is separated by  {,}

In [ ]:
#set is unordered,immutable,dont allow duplicates

In [ ]:
#set wont allow duplicates
s1={1,2,3,4,5,67,1,2,3,4,9}
len(s1)
print(s1)
type(s1)

{1, 2, 3, 4, 5, 67, 9}

set

In [ ]:
#set is unordered
s2={"apple","bananan","kiwi"}
print(s2[0])  #'set' object is not subscriptable

#set is immutable

1. in sets we cannot replace or swap the items
2. we can add the new items or data to the sets
3. And we can remove the elements from the sets

In [ ]:
#sets we cannot replace or swap the items
s2={"python","java","c++","c","c","c"}
print(len(s2))
s2[4]='R'#we cannot replace the items in the set because sets are unordered means items in the set doesn't have index position number
s2

4

{'c', 'c++', 'java', 'python'}

In [ ]:
#we can add the new items or data to the set
print(dir(s2))
"""['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__',
'__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__',
 '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__',
 '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference',
  'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference',
   'symmetric_difference_update', 'union', 'update']"""

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
#add()
s3={2,1,3,4,5,6,7,8,9}
s3.add(10)
s3
#can we add a string into set of numbers-- > YES
s3.add('hello')
s3

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'hello'}

In [ ]:
s4= {"apple","banana","kiwi"}
s4.add('Cherries')#while using add() the items may add at anywhere in the set{}
print(s4)

{'Cherries', 'apple', 'banana', 'kiwi'}

In [ ]:
#how to add the multiple items in the set{}
#what is the default index position when you add multiple items
#no index positions bcoz it is unordered

In [ ]:
#by using the "update"
s4={'Cherries', 'apple', 'banana','kiwi'}
s5={1,2,3,4,5,6}
s4.update(s5)
s4

{1, 2, 3, 4, 5, 6, 'Cherries', 'apple', 'banana', 'kiwi'}

In [ ]:
#How to remove items from the set?
s6={1, 2, 3, 4, 5, 6, 'Cherries', 'apple', 'banana', 'kiwi'}
#'s6.pop()#pop() is a bad practice in set'

{1, 2, 3, 4, 5, 6, 'Cherries', 'apple', 'banana'}

In [ ]:
s6.remove('kiwi')#remove() takes only one argument
s6

KeyError: 'kiwi'

In [ ]:
s6

{1, 2, 3, 4, 5, 6, 'Cherries', 'apple', 'banana'}

In [ ]:
#what is difference between "remove()" and "discard()"?
#remove() if the item or data is present it removes otherwise it rises an error
#discard() if the items present or not it wont rise an error
6.discard(2)
s6

{1, 3, 4, 5, 6, 'Cherries', 'banana'}

In [ ]:
#can we delete the range of items from the set--> No
#can we deleet entire set --> Yes
del s7

NameError: name 's7' is not defined

In [ ]:
s1={'a','b','c','d'}
s2={'d','e','f','g'}
s1.intersection(s2)
s1.union(s2)

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

# **Dictionary**

In [ ]:
#what is dictionary?
#how can we declare dictionary?
#where we can store the data in dictionary?
#Dictionary can be declared in {} each item is separated {,} comma
#{key:value} pairs
#Dictionary is unordered, it wont't allows the duplicates,mutable(changable)

In [ ]:
#Dictionary  wont't allows the duplicates
d1={"name":"Charan",
    "age":21,
    "mobile no":9876543210,
    "Bike":"GT 650",
    "Education":"Diploma",
    "Education":"B.Tech"}

print(len(d1))
print(type(d1))
print(d1)

5
<class 'dict'>
{'name': 'Charan', 'age': 21, 'mobile no': 9876543210, 'Bike': 'GT 650', 'Education': 'B.Tech'}

In [ ]:
#how can we access the values from dictionary
#by using key name
print(d1['Bike'])

#we cannot access the range of keys only one key we can access

GT 650

# Dictionary is mutable
replace the items in dictionary

In [ ]:
d1['name']='V CHARAN'
print(d1)

{'name': 'V CHARAN', 'age': 21, 'mobile no': 9876543210, 'Bike': 'GT 650', 'Education': 'B.Tech'}

In [ ]:
#2 . Add the new items to the dictionary
d1['Addess']="Hyderabad"
d1

{'name': 'V CHARAN',
 'age': 21,
 'mobile no': 9876543210,
 'Bike': 'GT 650',
 'Education': 'B.Tech',
 'Addess': 'Hyderabad'}

In [ ]:
#remove the items from d1
print(dir(d1))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
"""['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__',
'__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__',
'__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__','__setitem__', '__sizeof__', '__str__', '__subclasshook__',
'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']""'

In [ ]:
#pop(key_name)
d1.pop('age')
d1

{'name': 'V CHARAN',
 'mobile no': 9876543210,
 'Bike': 'GT 650',
 'Education': 'B.Tech',
 'Addess': 'Hyderabad'}

In [ ]:
#clear
d1.clear()
d1

{}

In [ ]:
del d1
d1

NameError: name 'd1' is not defined

In [ ]:
d2={'name': 'V CHARAN',
 'age': 21,
 'mobile no': 9876543210,
 'Bike': 'GT 650',
 'Education': 'B.Tech',
 'Addess': 'Hyderabad'}
print(d2.keys())
print(d2.values())
print(d2.items())

dict_keys(['name', 'age', 'mobile no', 'Bike', 'Education', 'Addess'])
dict_values(['V CHARAN', 21, 9876543210, 'GT 650', 'B.Tech', 'Hyderabad'])
dict_items([('name', 'V CHARAN'), ('age', 21), ('mobile no', 9876543210), ('Bike', 'GT 650'), ('Education', 'B.Tech'), ('Addess', 'Hyderabad')])

In [ ]:
d2={'name': 'V CHARAN',
 'age': 21,
 'mobile no': 9876543210,
 'Bike': 'GT 650',
 'fruits':["mango","apple","kiwi"]}
#replace kiwi with water melon
d2['fruits'][2]= "watermelon"
d2

{'name': 'V CHARAN',
 'age': 21,
 'mobile no': 9876543210,
 'Bike': 'GT 650',
 'fruits': ['mango', 'apple', 'watermelon']}

In [ ]:
#remove apple and watermelon
d2['fruits'].remove('apple')
d2

{'name': 'V CHARAN',
 'age': 21,
 'mobile no': 9876543210,
 'Bike': 'GT 650',
 'fruits': ['mango', 'watermelon']}

In [ ]:
d2['fruits'].pop(1)
d2

NameError: name 'd2' is not defined

# Brief of Collections

**List** :- list is a ordered,mutable,allows the duplicates-->[ , ]

adding methods :- append,insert(index,itemname),extend

remove methods :- pop(),remove,del l[[:]],clear

**Tuple** :- Tuple is ordered,immutable,allows the duplicates-->( , )

**set** :-   unordered,immutable,doesnt allow duplicates-->{ , }

adding method:- add,update

remove method:- remove,discard,pop(bad practice),clear()

**Dictionary** :- it is unordered,mutable,it wont allow the duplicates--> { , }

--> key:value pairs
--> replace if using specific keyname we can replace the items in dictionary

--> adding items if you give new key name d1['new_key']="value"

--> remove methods :- pop(keyname),clear(),popitem()-remove end item in dict

In [ ]:
dic={'name': 'V CHARAN',
 'age': 21,
 'mobile no': 9876543210,
 'Bike': 'GT 650',
 'fruits': ['mango', 'apple', 'watermelon']}
dic.popitem()
print(dic)

{'name': 'V CHARAN', 'age': 21, 'mobile no': 9876543210, 'Bike': 'GT 650'}

## Functions

what is Function?
>Function is a block of code which can be execute it when you call it

what is the purpose of functions?

> To avoid the duplicate codes

In [ ]:
#how to create a function ?

#we are using () to call the function whenever we want
#To create a function we use "def"--> means your defining a function

def charan():
  print("hello i am defining a function to test it")
#how to call the function
charan()

hello i am defining a function to test it

In [ ]:
#parameters : parameters are nothing but variables .we will give arguments when we call the function
def details(name,age,Education):
  print(f"Hi {name},please check your details,age {age},Education {education}")

details("Charan",21,"B tech")

Hi Charan,please check your details,age 21,Education B tech

In [ ]:
#what is a parameter?
#when we are defining a funtion we are creating varaibles which are known as parameters
#what is an argument?
#when your calling a function your passing some values which are known as arguments
#note : when you are calling a function No of parameters == no of arguments,if there is any mismatch it rise an error

In [ ]:
def check_number(num):
  if num%2==0:
    print(f"given number {num} is even")
  else:
    print(f"given number {num} is odd")
a=int(input("Enter the number :"))
check_number(a)

Enter the number :741
given number 741 is odd

In [ ]:
b=int(input())
check_number(b)

656
given number 656 is even

In [ ]:
def pos(num):
  if num>0:
    print(f"the given number {num} is positive")
  elif num==0:
    print(f"the given number {num} is Neutral")
  else:
    print(f"the given number {num} is negative")
a=int(input("Enter the number :"))
pos(a)

Enter the number :77
the given number 77 is positive

In [ ]:
#default function
#ARGS & KWARGS
#Testcases-->5
#LC

Default **Function**

when you are defining the function we are creating variables which are known as parameters.
so, to this parameters we are assingning a value from this when you call a function without
passing an argument it executes  the function with default value we have given

In [ ]:
def f1(x="No arguement given"):
  print(x)
f1()

No arguement given

In [ ]:
#what can i do when i dont know how many parameters do we need to pass?
def details(**name):
  print(name)

details(name="zenvius", Type = "pvt ltd", work = 'IT Training and staffing',place= 'hyderabad')

{'name': 'zenvius', 'Type': 'pvt ltd', 'work': 'IT Training and staffing', 'place': 'hyderabad'}

In [ ]:
##what can i do when i dont know how many Arguments do we need to pass?
def prog_language(*name):
  print(name)
prog_language('python','java','c++')
prog_language('python','java','c++','c')

('python', 'java', 'c++')
('python', 'java', 'c++', 'c')

**--> KWARGS--> Keyword arbitraray arguments-->when we dont know how many parameters do we need to pass use KWARGS
                                                
             -->we can able set what of data we are passing BCZ
                by default the data is stored on the form of "dictionary"

*--> ARGS---> Arbitrary arguments-->when we dont know how many parameters do we
                                        need to pass use ARGS
                                      
                                   --> default data type for ARGS is Tuple

**RETURN**

--> return keyword returns or send back the values to the caller
--> it  is similar to the print statement
--> when you are using return we need to call the function with print( )

In [ ]:
def f1():
  return"hello"
print(f1())

hello

In [ ]:
l=[20,30,40,50]
sum=0
for i in l:
  sum=sum+i
print(sum)

140

In [ ]:
def sum_items():
  sum=0
  for i in l:
    sum=sum+i
  return sum
print(sum_items())

30

In [ ]:
def sum_items(*number):  #args (*)
  sum = 0
  for i in l:
    sum = sum + i
  return(sum)
print(sum_items(9,15,30))

NameError: name 'l' is not defined

In [ ]:
#wap a python fn that takes a list and returns a distinct list
l1=[1,1,12,3,3,2,2,1,1,5,5,6,8,4,4,5,62,8,8,9]
x=[]
for i in l1:
  if i not in x:
    x.append(i)
print(x)

[1, 12, 3, 2, 5, 6, 8, 4, 62, 9]

In [ ]:
def checkk(*l1):
  x=[]
  for i in l1:
    if i not in x:
      x.append(i)
  return(x)
print(checkk(98,99,97,96,95,94,93,92,92))

[98, 99, 97, 96, 95, 94, 93, 92]